<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      
        <a routerLink="/home">
            <img src="/assets/img/log sm.png" alt="logo" style="max-width:40px;">
        </a>
      
        <a routerLink="/user-profile">
            <img src="/assets/img/old-woman-5893415_640.jpg" alt="perfil" style="max-width:70px;">
        </a>

        <a routerLink="/saved">
            <i class="bi bi-bookmark-heart"></i>
        </a>
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
        />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </form>
    </div>
  </nav>
